*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} 
body{
    display:grid;
    justify-content: center;
    align-items: center;
}
.mai_box1{
    max-width: 500px;
    height: 600px;
    background: linear-gradient();
}